button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: .5em 1em;
    border: none;
    outline: none;
    background-color: var(--primary);
    font-size: larger;
    color: var(--bg-n);
}

button:hover {
    background-color: var(--primary-h);
    cursor: pointer;
    color: white;
}