main {
    display: flex;
    flex-direction: column;
}

    app-header, app-side-panel {
        position: fixed;
    }

    app-header {
        width: 100%;
        z-index: 1;
    }

    .main-section {
        height: 100%;
        display: flex;
    }

        app-side-panel {
            width: 15%;
            height: 100%;
        }
        
        app-side-panel.right {
            right: 0;
        }

        .canvas-section {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
            .img-container {
                width: 100%;
                height: 80vh;
                margin-top: 4em;
                border-radius: 5px;
                background: linear-gradient(to bottom, transparent, #111);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        
                .img-container img {
                    animation: opacityMotion ease-out .2s;
                }
                
                @keyframes opacityMotion {
                    0% { opacity: 0 }
                    100% { opacity: 1 }
                }
            
            .control-container {
                width: 100%;
                min-height: 30vh;
                flex: 3;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

                app-bottom-panel {
                    width: 70%;
                    height: 100%;
                }